.main-page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-page-section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.section-main-desc {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-main-articles {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main-article {
    height: 100%;
    width: 30%;
    padding-top: 48px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.main-article>h2 {
    font-family: consolas;
    color: #31E1F7;
    text-shadow: 0 0 8px #31E1F7;
    margin: 0 0 16px 0;
}

.main-article>p {
    width: 75%;
    text-align: justify;
    font-family: consolas;
    text-align: center;
}

.main-article>a {
    margin: 32px 0;
    border: 3.4px solid #31E1F7;
    border-radius: 2px;
    color: #31E1F7;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    font-size: 32px;
    text-shadow: 0 0 8px #31E1F7;
    font-family: consolas;
    box-shadow: inset 0 0 16px #31E1F7, 0 0 16px #31E1F7;
    transition: all .5s ease-in-out;
}

.main-article>a:hover {
    background-color: #31E1F7;
    color: #061E3D;
    box-shadow: 0 0 32px #31E1F7;
}

.article-icon {
    font-size: 88px !important;
    color: #31E1F7;
    text-shadow: 0 0 16px #31E1F7;
}

.section-main-desc-title {
    margin: 8px 0;
    font-size: 64px;
    color: #31E1F7;
    text-shadow: 0 0 16px #31E1F7;
    font-family: consolas;
    animation-name: blinkin-title;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blinkin-title {
    from {
        text-shadow: 0 0 16px #31E1F7;
    }

    to {
        text-shadow: 0 0 32px #31E1F7;
    }
}

.section-main-desc-text {
    margin: 16px 0 0 0;
    width: 40%;
    text-align: center;
    font-family: consolas;
}

.get-started-button-resp {
    display: none;
}